* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    min-width: 1210px;
    background-color: #AE4141;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    background: #fdfcf8;
}

body#homeFirst div#wrapper {
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 1239px;
    text-align: left;
    background: transparent url(./wrapper.png) top left repeat-y;
}

div#header, div#header_index{
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    width: 1210px;
    height: 100px;
    background-color: #fdfcf8;
}

div#header a, div#header_index a, div#header_index h1 {
    text-indent: -9990px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}
div#header_index a:link, div#header_index a:visited, div#header_index h1 {
    display: block;
    width: 500px;
    height: 100px;
    background: transparent url(./bg00.png) 0 -150px no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
}
div#header_index a:hover {
    background: transparent url("./bg00.png") 0 -250px no-repeat;
}

div#search_ui {
    margin: 0;
    padding: 0;
    width: 306px;
    height: 100px;
    background-color: transparent;
    float: right;
}
#search_ui input.box {
    margin: 35px 0 0;
    width: 245px;
    height: 28px;
    background: #fdfdfd;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
}
#search_ui input.button {
    padding: 0;
    margin: 0;
    background: #AE4141;
    font: 14px Verdana, Arial, Helvetica, SansSerif;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
}
div#nav_first {
    height: 48px;
    width: 1210px;
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    background: #E8E7E3;
}

div#nav_first ul#menu {
    height: 48px;
    width: 1210px;
    background: transparent url("./bg00.png") top left no-repeat;
    margin: 0;
    padding: 0;
    position: relative;
}
#h {
    left: 0;
    width: 155px;
}
#h a:hover {
    background: transparent url("./bg00.png") 0 -48px no-repeat;
}
#b {
    left: 155px;
    width: 157px;
}
#s {
    left: 312px;
    width: 167px;
}
#d {
    left: 479px;
    width: 158px;
}
#x {
    left: 637px;
    width: 101px;
}
#ws {
    left: 738px;
    width: 185px;
}
#w {
    left: 923px;
    width: 177px;
}
#b a:hover {
    background: transparent url("./bg00.png") -155px -48px no-repeat;
}
#s a:hover {
    background: transparent url("./bg00.png") -312px -48px no-repeat;
}
#d a:hover {
    background: transparent url("./bg00.png") -479px -48px no-repeat;
}
#x a:hover {
    background: transparent url("./bg00.png") -637px -48px no-repeat;
}
#ws a:hover {
    background: transparent url("./bg00.png") -738px -48px no-repeat;
}
#w a:hover {
    background: transparent url("./bg00.png") -923px -48px no-repeat;
}
ul#menu li, ul#menu a {
    display: block;
    height: 48px;
    border-bottom: 0;
}
div#nav_first ul#menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}
div#nav_first ul#menu li a {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
}
/*link define*/
a:link, a:visited {
    text-decoration: none;
    color: #900b09;
    background: transparent;
    border-bottom: 1px solid #900b09;
}
a:hover {
    text-decoration: none;
    color: #ff0000;
    background: transparent;
    border-bottom: 1px solid #ff0000;
}
a:active {
    text-decoration: none;
    color: #ff0000;
    background: transparent;
}
